{% extends 'base.html.twig' %}

{% block title %}Location{% endblock %}

{% block body %}
<section>
<div class="rent_body">
    <h1>Bien à louer</h1>
    <div class="container">
        <h2>Tous nos biens en location</h2>
        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
        {{ message }}
        </div>
    {% endfor %}
        <div class="row flex">
            {% for rent in rents %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('rent_show', {id: rent.id, slug: rent.slug}) }}">{{ rent.title }}</a>
                            </h5>
                            <p class="card-text">{{ rent.city }}</p>
                            <div class="text-primary">{{ rent.monthPrice | number_format(0, '', ' ') }} €</div>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>

   
                    {% if app.user %}
                    <a href="{{ path('rent_edit', {'id': rent.id}) }}">edit</a>
                    {% endif %}
            {% endfor %}
    {% if app.user %}
    <a href="{{ path('rent_new') }}">Create new</a>
    {% endif %}
</div>

</section>
{{ knp_pagination_render(rents) }}

{% endblock %}
