{% extends 'base.html.twig' %}

{% block title %}Rent index{% endblock %}

{% block body %}
    <h1>Rent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>City</th>
                <th>MonthPrice</th>
                <th>LivingSpace</th>
                <th>LandSpace</th>
                <th>Rooms</th>
                <th>Meuble</th>
                <th>NotMeuble</th>
                <th>Dpe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rent in rents %}
            <tr>
                <td>{{ rent.id }}</td>
                <td>{{ rent.title }}</td>
                <td>{{ rent.city }}</td>
                <td>{{ rent.monthPrice }}</td>
                <td>{{ rent.livingSpace }}</td>
                <td>{{ rent.landSpace }}</td>
                <td>{{ rent.rooms }}</td>
                <td>{{ rent.meuble ? 'Yes' : 'No' }}</td>
                <td>{{ rent.notMeuble ? 'Yes' : 'No' }}</td>
                <td>{{ rent.dpe }}</td>
                <td>
                    <a href="{{ path('rent_show', {'id': rent.id}) }}">show</a>
                    {% if app.user %}
                    <a href="{{ path('rent_edit', {'id': rent.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
    <a href="{{ path('rent_new') }}">Create new</a>
    {% endif %}
{% endblock %}
