{% extends 'base.html.twig' %}

{% block title %}Bien à louer{% endblock %}

{% block body %}
<section>
   <div class="jumbotron">
    <div class="container">

    <div class="row">
        <div class="col-md-8">
        
        </div>
        <div class="col-md-4">
            <h1>{{ rent.title }}</h1>
            <h2>{{ rent.livingSpace }} m2</h2>
            <div class="text-primary">{{ rent.monthPrice| number_format(0, '', ' ') }} €</div>
            <a href="" class="btn btn-primary">Contacter l'agence</a>
            <div id="contactForm" class="mt-4">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col"> {{ form_row(form.firstname) }}</div>
                    <div class="col"> {{ form_row(form.lastname) }}</div>
                </div>
                <div class="row">
                    <div class="col"> {{ form_row(form.phone) }}</div>
                    <div class="col"> {{ form_row(form.email) }}</div>
                </div>
                {{ form_rest(form) }}
                <div class="form-group">
                    <button class="btn btn-primary">Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
<div class="mt-4">
    <div class="row">
        <div class="col-md-8">
            <h2>Caractéristique</h2>
            <table class="table table-striped">
                <tr>
                    <td>Ville</td>
                    <td>{{ rent.city }}</td>
                </tr>
                <tr>
                    <td>Surface habitable</td>
                    <td>{{ rent.livingSpace }} m²</td>
                </tr>
                <tr>
                    <td>Surface du terrain</td>
                    <td>{{ rent.landSpace }} m²</td>
                </tr>
                <tr>
                    <td>loyer Mensuel</td>
                    <td>{{ rent.monthPrice }} par mois</td>
                </tr>
                <tr>
                    <td>Nombre de pièces</td>
                    <td>{{ rent.rooms }}</td>
                </tr>
                <tr>
                    <td>Bien meublé</td>
                    <td>{{ rent.meuble ? 'OUI' : 'NON' }}</td>
                </tr>
                <tr>
                    <td>Bien non meublé</td>
                    <td>{{ rent.notMeuble ? 'OUI' : 'NON' }}</td>

                </tr>
                <tr>
                    <td>DPE</td>
                    <td>{{ rent.DPE }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <h2>Descriptif du bien</h2>
            <div class="card-text">{{ rent.description }}</div>
        </div>
    </div>  
</div>

    {% if app.user %}
    <a href="{{ path('rent_index') }}">retour liste</a>

    <a href="{{ path('rent_edit', {'id': rent.id}) }}">modifier</a>

    {{ include('rent/_delete_form.html.twig') }}
    {% endif %}
<a href="{{ path('rent_index') }}">Retour à la liste</a>
</section>
{% endblock %}
