{% extends 'base.html.twig' %}

{% block title %}Sale index{% endblock %}

{% block body %}
    <h1>Sale index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>MandatNumber</th>
                <th>Type</th>
                <th>AnnonceTitle</th>
                <th>PriceFAI</th>
                <th>NetSellerPrice</th>
                <th>Pourcentage</th>
                <th>Honorary</th>
                <th>LivingArea</th>
                <th>LandArea</th>
                <th>Descriptif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.mandatNumber }}</td>
                <td>{{ sale.type ? sale.type|join(', ') : '' }}</td>
                <td>{{ sale.annonceTitle }}</td>
                <td>{{ sale.priceFAI }}</td>
                <td>{{ sale.netSellerPrice }}</td>
                <td>{{ sale.pourcentage }}</td>
                <td>{{ sale.honorary }}</td>
                <td>{{ sale.livingArea }}</td>
                <td>{{ sale.landArea }}</td>
                <td>{{ sale.descriptif }}</td>
                <td>
                    <a href="{{ path('sale_show', {'id': sale.id}) }}">show</a>
                    <a href="{{ path('sale_edit', {'id': sale.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sale_new') }}">Create new</a>
{% endblock %}
