{% extends 'base.html.twig' %}

{% block title %}Sale index{% endblock %}

{% block body %}
<section>
<div class="sale_body">
    <h1 class="sale_title">Bien à vendre</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
        {{ message }}
        </div>
    {% endfor %}

    <div class="container">
        <h2>Tous nos biens en vente</h2>
        <div class="row flex">
            {% for sale in sales %}
                <div class="col-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('sale_show', {id: sale.id, slug: sale.slug}) }}">{{ sale.annonceTitle }}</a>
                            </h5>
                            <p class="card-text">{{ sale.type }}</p>
                            <div class="text-primary">{{ sale.priceFAI | number_format(0, '', ' ') }} €</div>
                        </div>
                    </div>
                </div>
                 {% if app.user %}
                    <a href="{{ path('sale_edit', {'id': sale.id}) }}">Modifier un bien</a>
                    {% endif %}
         
            {% endfor %}
  
</div>

</section>
 <a href="{{ path('home_index') }}">Page d'accueil</a>          
{% if app.user %}
    <a href="{{ path('sale_new') }}">Créer un nouveau bien</a>
    {% endif %}
               
{% endblock %}
