{% extends 'base.html.twig' %}

{% block title %}Bien a vendre{% endblock %}

{% block body %}
<div class="sale_page">
    <div class="container">
        <h2>Nos Biens</h2>
        <div class="row-flex">
            {% for sale in sales %}
            <a href="{{ path('sale.show', {id: sale.id, slug: sale.slug}) }}">
                <div class="col-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ sale.annonceTitle }}
                        
                        </h5>
                        <p class="card-text">{{ sale.priceFAI | number_format(0, '', ' ') }} €</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>              
                {% for sale in sales %}
                    {% if app.user %}
                    <a href="{{ path('sale.show', {id: sale.id, slug: sale.slug}) }}">show</a>
                    {% endif %}
                    {% if app.user %}
                    <a href="{{ path('sale_edit', {'id': sale.id}) }}">edit</a>
                    {% endif %}
            
    {% if app.user %}
    <a href="{{ path('sale_new') }}">Create new</a>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
