{% extends 'base.html.twig' %}

{% block title %}Sale{% endblock %}

{% block body %}
    <h1>Bien à vendre</h1>
    <div class="jumbotron">
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col md-4">
                    <h1>{{ sale.annonceTitle }}</h1>
                    <h2>{{ sale.priceFAI }} Euros - {{ sale.type }}</h2>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-md-8">
                <h2>Caractéristique</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface habitable</td>
                        <td>{{ sale.LivingArea }} m²</td>
                    </tr>
                    <tr>
                        <td>Surface du terrain</td>
                        <td>{{ sale.landArea }}</td>
                    </tr>
                    <tr>
                        <td>Prix TTC</td>
                        <td>{{ sale.priceFAI }}</td>
                    </tr>
                    <tr>
                        <td>Prix Net Vendeur</td>
                        <td>{{ sale.netSellerPrice }}</td>
                    </tr>
                    <tr>
                        <td>Honoraire de l'agence</td>
                        <td> {{ sale.honorary }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Descriptif</h2>
                <p>{{ sale.descriptif }}</p>
            </div>
        </div>
    </div>

    <a href="{{ path('sale_index') }}">back to list</a>

    <a href="{{ path('sale_edit', {'id': sale.id}) }}">edit</a>

    {{ include('sale/_delete_form.html.twig') }}
{% endblock %}
