{% extends 'base.html.twig' %}

{% block title %}Bien a vendre{% endblock %}

{% block body %}
<section>
<p>Numéro de Mandat :{{ sale.mandatNumber }}</p>
<div class="jumbotron">
    
    <div class="container">
    
    <div class="row">
        <div class="col-md-8">
            <img src="{{ vich_uploader_asset(sale, 'imageFile')}}" alt="card-img-top">
        </div>
        <div class="col-md-4">
            <h1>{{ sale.annonceTitle }}</h1>
            <h2>{{ sale.livingArea }} m2</h2>
            <div class="text-primary">{{ sale.priceFAI | number_format(0, '', ' ') }} €</div>
            <a href="" class="btn btn-primary">Contacter l'agence</a>
            <div id="contactForm" class="mt-4">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col"> {{ form_row(form.firstname) }}</div>
                    <div class="col"> {{ form_row(form.lastname) }}</div>
                </div>
                <div class="row">
                    <div class="col"> {{ form_row(form.phone) }}</div>
                    <div class="col"> {{ form_row(form.email) }}</div>
                </div>
                {{ form_rest(form) }}
                <div class="form-group">
                    <button class="btn btn-primary">Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
<div class="mt-4">
    <div class="row">
        <div class="col-md-7">
            <h2>Caractéristique :</h2>
            <table class="table table-striped">
                <tr>
                    <td>ville</td>
                    <td>{{ sale.city }}</td>
                </tr>
                <tr>
                    <td>Type du bien</td>
                    <td>{{ sale.type }}</td>
                </tr>
                <tr>
                    <td>Surface habitable</td>
                    <td>{{ sale.livingArea }} m²</td>
                </tr>
                <tr>
                    <td>Surface du terrain</td>
                    <td>{{ sale.landArea }} m²</td>
                </tr>
                <tr>
                    <td>Prix FAI</td>
                    <td>{{ sale.priceFAI | number_format(0, '', ' ') }} €</td>
                </tr>
                <tr>
                    <td>Prix net Vendeur</td>
                    <td>{{ sale.netSellerPrice | number_format(0, '', ' ') }} €</td>
                </tr>
                <tr>
                    <td>Honoraire</td>
                    <td>{{ sale.honorary | number_format(0, '', ' ') }} €</td>
                </tr>
            </table>
        </div>
        <div class="col-md-5">
            <h2>Descriptif du bien :</h2>
            
            <div class="card-text">{{ sale.descriptif}}</div>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-3">
            <h2>Options</h2>
            {% for Options in sale.Options %}
               <li>{{ Options.name }} </li>
            {% endfor %}
        </div>
    </div>
  
</div>

    {% if app.user %}
    <a href="{{ path('sale_index') }}">back to list</a>

    <a href="{{ path('sale_edit', {'id': sale.id}) }}">edit</a>

    {{ include('sale/_delete_form.html.twig') }}
    {% endif %}
<a href="{{ path('sale_index') }}">Retour à la liste</a>
</section>
{% endblock %}
