<h1>Nouvel email</h1>
<h2>Demande de contact pour {{contactBien.rent.title }}</h2>
<p> Nom du bien : </p>
<p><a href="{{ url('rent_show', {id: contactBien.rent.id, slug: contactBien.rent.slug}) }}">{{contactBien.rent.title }}</a></p>
<p>Nom : {{ contactBien.lastname }}</p>
<p>Prénom: {{ contactBien.firstname }}</p>
<p>Tel : {{ contactBien.phone }} </p>
<p>e-mail : {{ contactBien.email }}</p>
<p>Sujet : {{ contactBien.subject }}</p>
<p>Message : {{ contactBien.description }}</p>
