{% extends 'base.html.twig' %}
{% block body %}
<div class="contact-body">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
        {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <div class="row-flex">
            <div class="text-align-center">
                <h1>Recherche de bien</h1>
            </div>
        </div>
        <div class="row">
            <div class="card">
            <p>Vous avez un projet immobilier? Vous êtes primo-accédant ou souhaitez investir dans l'immobilier? Mais vous n'avez pas le temps?</p>
            <p>Je vous propose de remplir se formulaire avec vos souhaits de bien et je m'occupe de la recherche à votre place</p>
            </div>
        </div>
        <div class="container contact_box">
            <div class="row justify-content-start">
                <div class="contact_form col-md-8">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-success">{{ button_label|default('Envoyer') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}