<h1>Nouvel email</h1>
<h2>Demande de contact pour Recherche de bien</h2>
<p>Nom : {{ searchBien.lastname }}</p>
<p>Prénom: {{ searchBien.firstname }}</p>
<p>Tel : {{ searchBien.phone }} </p>
<p>e-mail : {{ searchBien.email }}</p>
<p>Type de bien : {{ searchBien.type }} </p>
<p>Budget maximum : {{ searchBien.budget }}</p>
<p>Localisation: {{ searchBien.localisation }}</p>
<p>Nombre de chambre souhaitez : {{ searchBien.rooms }}</p>
<p>Superficie maximum de la maison : {{ searchBien.livingSpace }}</p>
<p>Superficie maximum du terrain : {{ searchBien.landSpace }}</p>
<p>Message : {{ searchBien.message }}</p>
