<h1>Nouvel email</h1>
<p>Nom : {{ contact.lastname }}</p>
<p>Prénom: {{ contact.firstname }}</p>
<p>Tel : {{ contact.phone }} </p>
<p>e-mail : {{ contact.email }}</p>
<p>Sujet : {{ contact.subject }}</p>
<p>Message : {{ contact.description }}</p>
